@tailwind base;
@tailwind components;
@tailwind utilities;



  .jenjang {
    background-image: url("../../public/assets/latarJenjang.png");
    object-fit: cover;
    min-height: 100vh;
  }
  .latarPaket {
    background-image: url("../../public/assets/latarPaket.png") ;
    object-fit: cover;
    min-height: 100vh;
  }

  .latarMitra {
    background-image: url("../../public/assets/latarMitra.png") ;
    object-fit: cover;
    min-height: 100vh;
  }


  .gradasi {
      background: linear-gradient(91deg, rgba(250, 251, 253, 0.95) 36.29%, rgba(250, 251, 253, 0.51) 82.96%, rgba(250, 251, 253, 0.00) 104.67%);
      
    }

    .gradasi1{
      background: linear-gradient(180deg, #F6F6F6 0%, rgba(246, 246, 246, 0.80) 100%);
    }

    .gradasi2 {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.91) 5.27%, rgba(255, 255, 255, 0.71) 95.61%);
    }

    .gradasi3 {
      background: linear-gradient(90deg, #FFF 42.39%, rgba(255, 255, 255, 0.52) 96.56%);
    }

    .gradasi4{
      background: linear-gradient(180deg, rgba(255, 180, 0, 0.47) 0%, rgba(255, 196, 54, 0.07) 100%);
    }

  
  
.custom-text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}