@tailwind base;
@tailwind components;
@tailwind utilities;

.latar {
    background-image: url("../../public/assets/latar.png");
    object-fit: cover;
    min-height: 100vh;
  }
  
  .gradasi {
      background: linear-gradient(91deg, rgba(250, 251, 253, 0.95) 36.29%, rgba(250, 251, 253, 0.51) 82.96%, rgba(250, 251, 253, 0.00) 104.67%);
  }
